<div class="main-container">
  <h1>Connect with Dawn</h1>
  <!-- <hr> -->
  <fieldset align="center">
    <legend>  <div class="social-media">
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div></legend>
  </fieldset>

    <form method="POST" action="//formspree.io/youremail@here.com">
      <div class="contact-group-info">
          <div class="name-group">
            <label for="name"><div class="contact-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div></label>
            <input type="text" id="name" name="Name: " placeholder="Name">
          </div>
          <div class="email-group">
            <label for="email"><div class="contact-icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div></label>
            <input type="email" id="email" name="Email: " placeholder="Email">
          </div>
          <div class="phone-group">
            <label for="phone"><div class="contact-icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div></label>
            <input type="tel" id="phone" name="Phone: " placeholder="Phone">
          </div>

          <div class="text-area-group">
            <label for="message"><div class="contact-icon textarea-icon">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div></label>
            <textarea name="message" id="message" placeholder="Message"></textarea>
          </div>


      </div>
      <input id="submit-btn" type="submit" value="Let's get in touch!">
  </form>
  <div class="social-group">
  <p class="social"><i class="fa fa-phone contact-icon-colour" aria-hidden="true"></i>Tammy: <a href="tel:+610417404977">0417 404 977</a></p>
  <p class="social"><i class="fa fa-phone contact-icon-colour" aria-hidden="true"></i>Mel: <a href="tel:+61422118268">0422 118 268</a></p>
  <p class="social"><i class="fa fa-envelope contact-icon-colour" aria-hidden="true"></i><a href="mailto:info@dawn.org.au">info@dawn.org.au</a></p></div>
</div>
