<div class="main-container">
  <h1>Proud sponsors</h1>
  <hr>
  <div class="sponsors-logo group">
    <div class="sponsors-group">
      <img id="hq-logo" src="../img/partners/hq-logo.jpg" alt="">
      <img id="rnb-logo" src="../img/partners/rnb-logo.png" alt="">
      <img id="westpac-logo" src="../img/partners/westpac-logo.png" alt="">
      <img id="ys-logo" src="../img/partners/yourscene-logo.png" alt="">
      <img id="pikko-logo" src="../img/partners/pikko-logo.png" alt="">
    </div>
  </div>
</div>
